<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">

    <title>Підказка по Ardublock</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="styles/style.css">
    <link rel="stylesheet" href="styles/header.css">
    <link rel="stylesheet" href="styles/navigation.css">
    <link rel="stylesheet" href="styles/main.css">
    <link rel="stylesheet" href="styles/footer.css">

    <link rel="shortcut icon" href="image/favicon.ico" type="image/x-icon">

    <script type="text/html" id="blockItemTemplate">
        <div class="item">
            <img src="image/blocks/${image}">
            <div class="item-text">
                <p class="title">${title}</p>
                
                {{if text}}

                    <p>${text}</p>

                {{/if}}

                {{if description}}

                    <p class="description">${description}</p>

                {{/if}}

                {{if alert}}
                    <!-- Якщо повідомлень немає не виводити список -->
                    <p>
                        <span class="alert">Увага:</span>
                        <ul class="alert-list">
                            {{each alert}}
                                <li class="alert-item"><i class="bi bi-exclamation-circle"></i> ${$value}</li>
                            {{/each}}
                        </ul>
                    </p>
                {{/if}}
            </div>
        </div>
    </script>
</head>
<body>

    <!-- Шапка -->
    <header>
        <h1 class="logo">
            Підказка по Ardublock
        </h1>
        <ul class="menu">
            <li class="item">
                <button class="link" go-to="DocumantationBlock">Блоки Ardublock</button>
            </li>
            <li class="item">
                <button class="link" go-to="DocumantationLeo">Інструкція до Leo6</button>
            </li>
            <li class="item">
                <button class="link" go-to="Example">Приклади</button>
            </li>
        </ul>
    </header>
    
    <!-- Блок контенка -->
    <main>
        <div class="container" id="DocumantationBlock">

            <!-- План -->
            <nav>
                <div class="title">
                    План сторінки:
                </div>
                <ul class="menu">
                    <li><a href="#controlBlocksContainer"><i class="bi bi-arrow-right-short"></i>Control</a></li>
                    <li><a href="#pinsBlocksContainer"><i class="bi bi-arrow-right-short"></i>Pins</a></li>
                    <li><a href="#mathoperatorsBlocksContainer"><i class="bi bi-arrow-right-short"></i>Math Operators</a></li>
                    <li><a href="#generichardwareBlocksContainer"><i class="bi bi-arrow-right-short"></i>Generic Hardware</a></li>
                </ul>
            </nav>


            <div class="menu">
                <div class="group">
                    <div class="group-title">
                        Control
                    </div>                
                    <div id="controlBlocksContainer"></div>
                </div>

                <div class="group">
                    <div class="group-title">
                        Pins 
                    </div>    
                    <div id="pinsBlocksContainer"></div>
                </div>

                <div class="group">
                    <div class="group-title">
                        Math Operators 
                    </div>    
                    <div id="mathoperatorsBlocksContainer"></div>
                </div>

                <div class="group">
                    <div class="group-title">
                        Generic Hardware
                    </div>    
                    <div id="generichardwareBlocksContainer"></div>
                </div>

            </div>
        </div>

        <div class="container none" id="DocumantationLeo">
            <h1 class="alert-message">Ця строніка ще в розробці!</h1>
        </div>

        <div class="container none" id="Example">
            <h1 class="alert-message">Ця строніка ще в розробці!</h1>
        </div>
    </main>

    <!-- Футер -->
    <footer>
        <div class="group">
            <p>Цю сторінку створив вчитель Панчошний Дмитро</p>
            <p>Для школи Robocode</p>
        </div>
        <div class="group">
            <p>Якщо ви знайшли помилку - потрібно повідомити розробнику.</p>
            <p><a href="https://t.me/dimapanchoshnuy">
                <i class="bi bi-telegram"></i> dimapanchoshnuy
            </a></p>
        </div>
    </footer>

    <!-- JavaScript -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src='http://ajax.microsoft.com/ajax/jquery.templates/beta1/jquery.tmpl.min.js'></script>
    <script src="javascript/massive.js"></script>
    <script src="javascript/render.js"></script>
    <script src="javascript/script.js"></script>
</body>
</html>