<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="styles/style.css">
    <link rel="stylesheet" href="styles/header.css">
    <link rel="stylesheet" href="styles/navigation.css">
    <link rel="stylesheet" href="styles/main.css">
    <link rel="stylesheet" href="styles/footer.css">

    <script type="text/html" id="blockItemTemplate">
        <div class="item">
            <img src="image/blocks/${image}">
            <div class="item-text">
                <p class="title">${title}</p>
                
                {{if text}}

                    <p>${text}</p>

                {{/if}}

                {{if description}}

                    <p class="description">${description}</p>

                {{/if}}

                {{if alert}}
                    <!-- Якщо повідомлень немає не виводити список -->
                    <p>
                        <span class="alert">Увага</span>
                        <ul class="alert-list">
                            {{each alert}}
                                <li class="red"><i class="bi bi-exclamation-circle red"></i> ${$value}</li>
                            {{/each}}
                        </ul>
                    </p>
                {{/if}}
            </div>
        </div>
    </script>
</head>
<body>

    <!-- Шапка -->
    <header>
        <h1 class="logo">
            Підказка по Ardublock
        </h1>
    </header>
    
    <!-- План -->
    <nav>
        <div class="title">
            План сторінки:
        </div>
        <ul class="menu">
            <li><a href="#programBlock">Program</a></li>
            <li><a href="#pinsBlock">Pins</a></li>
            <li><a href="#mathoperatorsBlock">Math Operators</a></li>
        </ul>
    </nav>

    <!-- Блок контенка -->
    <main>
        <div class="menu">
            <div class="group">
                <div class="group-title">
                    Program
                </div>                
                <div id="programBlock">

                </div>
            </div>

            <div class="group">
                <div class="group-title">
                    Pins 
                </div>    
                <div id="pinsBlock">

                </div>
            </div>

            <div class="group">
                <div class="group-title">
                    Math Operators 
                </div>    
                <div id="mathoperatorsBlock">

                </div>
            </div>

        </div>
    </main>

    <!-- Футер -->
    <footer>
        <div class="group">
            <p>Цю сторінку створив Панчошний Дмитро</p>
            <p>Для школи Robocode</p>
        </div>
        <div class="group">
            <p>Якщо ви знайшли помилку - потрібно повідомити розробнику.</p>
        </div>
    </footer>

    <!-- JavaScript -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src='http://ajax.microsoft.com/ajax/jquery.templates/beta1/jquery.tmpl.min.js'></script>
    <script src="javascript/massive.js"></script>
    <script src="javascript/script.js"></script>
</body>
</html>